.imageSliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSlider {
  width: 600px;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: hidden;
}

.slides input {
  display: none;
}

.buttons {
  position: absolute;
  left: 42.5%;
  bottom: 4%;
}

.button {
  display: inline-block;
  padding: 7px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover {
  background: var(--clr-primary);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.imageSliderPhoto {
  margin: 0;
  width: 600px;
  height: 550px;
}

@media (max-width: 750px) {
  .imageSlider {
    width: 450px;
  }
  .buttons {
    position: absolute;
    left: 40%;
  }
  .imageSliderPhoto {
    width: 450px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .imageSlider {
    width: 300px;
  }
  .imageSliderPhoto {
    width: 300px;
    height: 250px;
  }
}
