.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 2em;
}

.product {
  text-align: center;
  padding: 2em;
  background: #eee;
  max-height: 370px;
}

.product:hover {
  opacity: 1;
  transform: scale(1.05);
}

.product h3 {
  font-size: 1rem;
  margin: 0.5em 0 0.2em;
}

.productImage {
  width: 100%;
  max-width: 200px;
  max-height: 250px;
}

@media (max-width: 1000px){
    .products {
        grid-template-columns: repeat(3, 1fr);
      }
}

@media (max-width: 750px){
    .products {
        grid-template-columns: repeat(2, 1fr);
      }
}
@media (max-width: 450px){
    .products {
        grid-template-columns: repeat(1, 1fr);
      }
}